body {
  background-color: orange;
  padding: 20px;
}

h1 {
  padding: 5px;
  background-color: black;
  color: orange;
  border: solid 1px;
  border-radius: 20px;
  text-align: center;
}

p {
  background-color: black;
  color: orange;
  width: 350px;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
}

#unit {
  display: none;
}

.input-container {
  display: flex;
}

button {
  display: none;
  background-color: black;
  color:orange;
  border-radius: 0 20px 20px 0;
}

input {
  background-color: black;
  color:orange;
  border-radius: 20px 0 0 20px;
}

#type { 
background-color: black;
  color:orange;
  border-radius: 20px 0 0 20px;
  padding-right: 37px;
}

#unit {
  background-color: black;
  color:orange;
  border-radius: 20px 0 0 20px;
  padding-right: 21px;
}